#notification {
    background-color: rgb(248, 122, 225);
    color: white;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    margin: 0; /* Remove margin */
    width: 100%; /* Set width to 100% of the parent */
    padding: 1px 0; /* Add 1 pixels of padding to the top and bottom */
}

#notification button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
}

h2 {
    position: relative;
    left: auto;
}

body {
    padding-top: 50px; /* Height of the div + 5px space */
}

#logo{
    border: 1px solid black;
    width: 90px;
}

#logo, #slogan, #searchForm{
    display: inline-block;
    margin: 0;
    padding: 0;
}

#slogan{
    margin-top: 3px;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    margin-left: 10px;
}

#searchForm{
    margin-top: 10px;
    text-align: center;
    padding-left: 90px;
}

#search{
    border: 2px solid black;
    border-radius: 10px;
}

form{
    padding-top: 30;
}

#love{
    padding-left: 50px;
}

#weight, #nakup{
    padding-left: 10px;
    text-decoration: none;
}

#phone{
    padding-left: 5px;
}

#login{
    text-decoration: none;
}

#submenu{
    background-color: rgb(192, 190, 190);
    top: 0;
    right: 0;
    margin-top: 1px;
    width: 100%; /* Set width to 100% of the parent */
    padding: 1px 0; /* Add 1 pixels of padding to the top and bottom */
    height: 30px;
    margin-bottom: 1px;
}

#loginLabel{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(67, 67, 67);
    vertical-align: middle;
}

#velky{
    margin-left: auto;
    margin-right: auto;
    display: block;
}